@model BookingPartnerViewModel

<div class="grants">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Booking Partners
            </h1>
            <div>Below is the list of applications you have given access to or are pending dynamic registration.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <a href="/bookingpartners/create" class="btn btn-md btn-default">Add a Booking Partner</a>
        </div>
    </div>
    @if (Model.BookingPartners.Any() == false)
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="alert alert-info">
                    You have not given access to any applications
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var bookingPartner in Model.BookingPartners)
        {
            <div class="row grant">
                <div class="col-sm-2">
                    <div class="clientname">@bookingPartner.ClientName</div>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-md btn-default" href="@bookingPartner.ClientUrl" target="_blank">Manage</a>
                </div>
                <div class="col-sm-2">
                    @if (bookingPartner.BookingPartner.BookingsSuspended)
                    {
                        <small class="warning">Bookings suspended</small>
                    }
                    @if (!bookingPartner.BookingPartner.Registered)
                    {
                        <small>Pending registration</small>
                    }
                </div>

                <div class="col-sm-6">
                    <form asp-action="ManageKeys">
                        <input type="hidden" name="clientId" value="@bookingPartner.ClientId">
                        <a href="~/bookingpartners/edit/@bookingPartner.ClientId" class="btn btn-md btn-default">API Key</a>
                    </form>
                    @if (bookingPartner.BookingPartner.Registered && !bookingPartner.BookingPartner.BookingsSuspended)
                    {
                        <form asp-action="Suspend">
                            <input type="hidden" name="clientId" value="@bookingPartner.ClientId">
                            <button class="btn btn-md btn-default">Suspend Bookings</button>
                        </form>
                    }
                    @if (bookingPartner.BookingPartner.Registered && bookingPartner.BookingPartner.BookingsSuspended)
                    {
                        <form asp-action="Restore">
                            <input type="hidden" name="clientId" value="@bookingPartner.ClientId">
                            <button class="btn btn-md btn-default">Restore</button>
                        </form>
                    }
                    @if (!bookingPartner.BookingPartner.Registered || bookingPartner.BookingPartner.BookingsSuspended)
                    {
                        <form asp-action="Revoke">
                            <input type="hidden" name="clientId" value="@bookingPartner.ClientId">
                            <button class="btn btn-md btn-default">Revoke Access</button>
                        </form>
                    }
                </div>
            </div>
        }
    }
</div>